<div class="modal-header">
  <h4 class="modal-title pull-left">Delete course?</h4>
  <button type="button" (click)="hideDialog()"
          class="btn-close close pull-right" aria-label="Close">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Are you sure you want to delete course "{{course.title}}"?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="hideDialog()">Cancel</button>
  <button type="button" class="btn btn-danger" (click)="deleteCourse()">Delete</button>
</div>
