<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Liquid</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="categories" routerLinkActive="active">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="courses" routerLinkActive="active">Courses</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container-fluid">

  <div>
    <router-outlet></router-outlet>
  </div>

</main>
